body {
  background-image: url('/app/images/pattern.svg');
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
.navcontainer {

}
.home-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  flex-direction: column;
}
.home-container,.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 45px;
  color: white;
  font-weight: 100;
}
.mdl-layout__container {
  position: relative !important;
}
.mdl-layout__header {
  background-color: rgba(252, 90, 44, .89) !important;
}
.mdl-layout-title {
  color: white;

}
input {
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
}
button {
  margin: 20px !important;
}
.material-icons {
  color: white;

}
.mdl-textfield__input {
  color: white !important;
}
.mdl-layout-title, span {


}
